global:
  scrape_interval: 60s
  evaluation_interval: 60s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093

rule_files:
  - "alert_rules.yml"

scrape_configs:
  - job_name: 'volvo-exporter'
    static_configs:
       - targets: ['volvo-exporter:9100']    # Must match exporter_listen_port in config.yaml
    scrape_interval: 1m
