 {"openapi":"3.0.1","info":{"title":"Energy API","description":"The Energy API provides access to the most recent energy state of a vehicle.","contact":{},"version":"v2"},"servers":[{"url":"https://api.volvocars.com/energy/v2"},{"url":"https://api.volvocars.com/energy/v2"},{"url":"https://api.volvocars.com/energy/v2"}],"paths":{"/vehicles/{vin}/capabilities":{"get":{"tags":["Capabilities"],"summary":"Get capabilities","description":"Provides a summary of the supported endpoints and data points for a vehicle. Each endpoint has a capability\nrepresentation in the capabilities response indicating whether the endpoint is available for the specific\nvehicle along with additional information specific to that endpoint.\n","operationId":"GetCapabilities","parameters":[{"name":"vin","in":"path","description":"Vehicle identification number","required":true,"schema":{"type":"string"}},{"name":"vcc-api-operationid","in":"header","description":"A transaction unique id which can be used do identify the transaction in integrated systems","schema":{"type":"string"}},{"name":"traceparent","in":"header","description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}],"responses":{"200":{"description":"OK","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Capabilities"},"example":{"getEnergyState":{"isSupported":true,"batteryChargeLevel":{"isSupported":true},"electricRange":{"isSupported":true},"chargerConnectionStatus":{"isSupported":true},"chargingSystemStatus":{"isSupported":true},"chargingType":{"isSupported":true},"chargerPowerStatus":{"isSupported":true},"estimatedChargingTimeToTargetBatteryChargeLevel":{"isSupported":true},"chargingCurrentLimit":{"isSupported":true},"targetBatteryChargeLevel":{"isSupported":true},"chargingPower":{"isSupported":true}}}}}},"400":{"description":"Request contains an unaccepted input","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"401":{"description":"Unauthorized","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"403":{"description":"Resource Forbidden","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"404":{"description":"Not found","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"405":{"description":"Method not allowed","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"409":{"description":"Conflict","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"415":{"description":"Unsupported Media Type","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"422":{"description":"Unprocessable Entity","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"500":{"description":"Internal Server Error","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message."}}}}},"503":{"description":"Service Unavailable","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message."}}}}},"504":{"description":"GatewayTimeout","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message."}}}}}}}},"/vehicles/{vin}/state":{"get":{"tags":["Energy State"],"summary":"Get the latest energy state","description":"Provides the latest energy state data for the vehicle in the form of a map of resource values.","operationId":"GetEnergyState","parameters":[{"name":"vin","in":"path","description":"Vehicle identification number","required":true,"schema":{"type":"string"}},{"name":"vcc-api-operationid","in":"header","description":"A transaction unique id which can be used do identify the transaction in integrated systems","schema":{"type":"string"}},{"name":"traceparent","in":"header","description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}],"responses":{"200":{"description":"OK","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnergyState"},"example":{"batteryChargeLevel":{"status":"OK","value":27,"updatedAt":"2024-09-02T12:00:00.0000000+00:00","unit":"percentage"},"electricRange":{"status":"OK","value":120,"updatedAt":"2024-09-02T12:00:00.0000000+00:00","unit":"km"},"chargerConnectionStatus":{"status":"OK","value":"DISCONNECTED","updatedAt":"2024-09-02T12:00:00.0000000+00:00"},"chargingStatus":{"status":"OK","value":"IDLE","updatedAt":"2024-09-02T12:00:00.0000000+00:00"},"chargingType":{"status":"OK","value":"NONE","updatedAt":"2024-09-02T12:00:00.0000000+00:00"},"chargerPowerStatus":{"status":"OK","value":"NO_POWER_AVAILABLE","updatedAt":"2024-09-02T12:00:00.0000000+00:00"},"estimatedChargingTimeToTargetBatteryChargeLevel":{"status":"OK","value":0,"updatedAt":"2024-09-02T12:00:00.0000000+00:00","unit":"minutes"},"targetBatteryChargeLevel":{"status":"OK","value":100,"updatedAt":"2024-09-02T12:00:00.0000000+00:00","unit":"percentage"},"chargingCurrentLimit":{"status":"OK","value":10,"updatedAt":"2024-09-02T12:00:00.0000000+00:00","unit":"ampere"},"chargingPower":{"status":"ERROR","code":"NOT_SUPPORTED","message":"Property is not supported by vehicle"}}}}},"400":{"description":"Request contains an unaccepted input","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"401":{"description":"Unauthorized","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"403":{"description":"Resource Forbidden","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"404":{"description":"Not found","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"405":{"description":"Method not allowed","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"409":{"description":"Conflict","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"415":{"description":"Unsupported Media Type","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"422":{"description":"Unprocessable Entity","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}}}},"500":{"description":"Internal Server Error","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message."}}}}},"503":{"description":"Service Unavailable","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message."}}}}},"504":{"description":"GatewayTimeout","headers":{"traceparent":{"description":"The distributed trace header containing the trace-id, and parent-id.","schema":{"pattern":"^00-[0-9a-f]{16}-[0-9a-f]{8}-[0-9a-f]{2}$","type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":{"code":"ERROR_CODE","message":"Error message."}}}}}}}}},"components":{"schemas":{"Timestamp":{"type":"string","format":"date-time","example":"2021-01-01T12:00:00.0000000+00:00"},"ResultResourceInstanceString":{"type":"object","oneOf":[{"$ref":"#/components/schemas/SuccessResultResourceInstanceString"},{"$ref":"#/components/schemas/ErrorResultWithDescription"}],"discriminator":{"propertyName":"status","mapping":{"OK":"#/components/schemas/SuccessResultResourceInstanceString","ERROR":"#/components/schemas/ErrorResultWithDescription"}}},"ResultResourceInstanceFloatWithUnit":{"type":"object","oneOf":[{"$ref":"#/components/schemas/SuccessResultResourceInstanceFloatWithUnit"},{"$ref":"#/components/schemas/ErrorResultWithDescription"}],"discriminator":{"propertyName":"status","mapping":{"OK":"#/components/schemas/SuccessResultResourceInstanceFloatWithUnit","ERROR":"#/components/schemas/ErrorResultWithDescription"}}},"ResultResourceInstanceIntegerWithUnit":{"type":"object","oneOf":[{"$ref":"#/components/schemas/SuccessResultResourceInstanceIntegerWithUnit"},{"$ref":"#/components/schemas/ErrorResultWithDescription"}],"discriminator":{"propertyName":"status","mapping":{"OK":"#/components/schemas/SuccessResultResourceInstanceIntegerWithUnit","ERROR":"#/components/schemas/ErrorResultWithDescription"}}},"SuccessResult":{"required":["status"],"type":"object","properties":{"status":{"enum":["OK"],"type":"string"}}},"ErrorResult":{"required":["status"],"type":"object","properties":{"status":{"enum":["ERROR"],"type":"string"}}},"SuccessResultResourceInstanceFloatWithUnit":{"type":"object","allOf":[{"$ref":"#/components/schemas/SuccessResult"},{"$ref":"#/components/schemas/ResourceInstanceFloatWithUnit"}]},"SuccessResultResourceInstanceIntegerWithUnit":{"type":"object","allOf":[{"$ref":"#/components/schemas/SuccessResult"},{"$ref":"#/components/schemas/ResourceInstanceIntegerWithUnit"}]},"SuccessResultResourceInstanceString":{"type":"object","allOf":[{"$ref":"#/components/schemas/SuccessResult"},{"$ref":"#/components/schemas/ResourceInstanceString"}]},"SuccessResultResourceInstanceBoolean":{"type":"object","allOf":[{"$ref":"#/components/schemas/SuccessResult"},{"$ref":"#/components/schemas/ResourceInstanceBoolean"}]},"ErrorResultWithDescription":{"allOf":[{"$ref":"#/components/schemas/ErrorResult"},{"$ref":"#/components/schemas/Error"}]},"ResourceInstanceString":{"required":["value","updatedAt"],"type":"object","properties":{"value":{"type":"string"},"updatedAt":{"$ref":"#/components/schemas/Timestamp"}}},"ResourceInstanceBoolean":{"required":["value","updatedAt"],"type":"object","properties":{"value":{"type":"boolean"},"updatedAt":{"$ref":"#/components/schemas/Timestamp"}}},"ResourceInstanceInteger":{"required":["value","updatedAt"],"type":"object","properties":{"value":{"type":"integer"},"updatedAt":{"$ref":"#/components/schemas/Timestamp"}}},"ResourceInstanceFloat":{"required":["value","updatedAt"],"type":"object","properties":{"value":{"type":"number","format":"float"},"updatedAt":{"$ref":"#/components/schemas/Timestamp"}}},"ResourceInstanceStringWithUnit":{"allOf":[{"$ref":"#/components/schemas/ResourceInstanceString"},{"required":["unit"],"type":"object","properties":{"unit":{"type":"string"}}}]},"ResourceInstanceIntegerWithUnit":{"allOf":[{"$ref":"#/components/schemas/ResourceInstanceInteger"},{"required":["unit"],"type":"object","properties":{"unit":{"type":"string"}}}]},"ResourceInstanceFloatWithUnit":{"allOf":[{"$ref":"#/components/schemas/ResourceInstanceFloat"},{"required":["unit"],"type":"object","properties":{"unit":{"type":"string"}}}]},"EnergyState":{"required":["batteryChargeLevel","electricRange","chargerConnectionStatus","chargingStatus","chargingType","chargerPowerStatus","estimatedChargingTimeToTargetBatteryChargeLevel","chargingCurrentLimit","targetBatteryChargeLevel","chargingPower"],"type":"object","properties":{"batteryChargeLevel":{"$ref":"#/components/schemas/ResultResourceInstanceFloatWithUnit"},"electricRange":{"$ref":"#/components/schemas/ResultResourceInstanceIntegerWithUnit"},"chargerConnectionStatus":{"$ref":"#/components/schemas/ResultResourceInstanceString"},"chargingStatus":{"$ref":"#/components/schemas/ResultResourceInstanceString"},"chargingType":{"$ref":"#/components/schemas/ResultResourceInstanceString"},"chargerPowerStatus":{"$ref":"#/components/schemas/ResultResourceInstanceString"},"estimatedChargingTimeToTargetBatteryChargeLevel":{"$ref":"#/components/schemas/ResultResourceInstanceIntegerWithUnit"},"targetBatteryChargeLevel":{"$ref":"#/components/schemas/ResultResourceInstanceIntegerWithUnit"},"chargingCurrentLimit":{"$ref":"#/components/schemas/ResultResourceInstanceIntegerWithUnit"},"chargingPower":{"$ref":"#/components/schemas/ResultResourceInstanceIntegerWithUnit"}},"example":{"batteryChargeLevel":{"status":"OK","value":27,"updatedAt":"2024-09-02T12:00:00.0000000+00:00","unit":"percentage"},"electricRange":{"status":"OK","value":120,"updatedAt":"2024-09-02T12:00:00.0000000+00:00","unit":"km"},"chargerConnectionStatus":{"status":"OK","value":"DISCONNECTED","updatedAt":"2024-09-02T12:00:00.0000000+00:00"},"chargingStatus":{"status":"OK","value":"IDLE","updatedAt":"2024-09-02T12:00:00.0000000+00:00"},"chargingType":{"status":"OK","value":"NONE","updatedAt":"2024-09-02T12:00:00.0000000+00:00"},"chargerPowerStatus":{"status":"OK","value":"NO_POWER_AVAILABLE","updatedAt":"2024-09-02T12:00:00.0000000+00:00"},"estimatedChargingTimeToTargetBatteryChargeLevel":{"status":"OK","value":0,"updatedAt":"2024-09-02T12:00:00.0000000+00:00","unit":"minutes"},"targetBatteryChargeLevel":{"status":"OK","value":100,"updatedAt":"2024-09-02T12:00:00.0000000+00:00","unit":"percentage"},"chargingCurrentLimit":{"status":"OK","value":10,"updatedAt":"2024-09-02T12:00:00.0000000+00:00","unit":"ampere"},"chargingPower":{"status":"ERROR","code":"NOT_SUPPORTED","message":"Property is not supported by vehicle"}}},"Capabilities":{"required":["getEnergyState"],"type":"object","properties":{"getEnergyState":{"$ref":"#/components/schemas/GetEnergyStateCapability"}}},"GetEnergyStateCapability":{"required":["batteryChargeLevel","electricRange","chargerConnectionStatus","chargingSystemStatus","chargingType","chargerPowerStatus","estimatedChargingTimeToTargetBatteryChargeLevel","targetBatteryChargeLevel","chargingCurrentLimit","chargingPower"],"allOf":[{"$ref":"#/components/schemas/Capability"}],"properties":{"batteryChargeLevel":{"$ref":"#/components/schemas/Capability"},"electricRange":{"$ref":"#/components/schemas/Capability"},"chargerConnectionStatus":{"$ref":"#/components/schemas/Capability"},"chargingSystemStatus":{"$ref":"#/components/schemas/Capability"},"chargingType":{"$ref":"#/components/schemas/Capability"},"chargerPowerStatus":{"$ref":"#/components/schemas/Capability"},"estimatedChargingTimeToTargetBatteryChargeLevel":{"$ref":"#/components/schemas/Capability"},"targetBatteryChargeLevel":{"$ref":"#/components/schemas/Capability"},"chargingCurrentLimit":{"$ref":"#/components/schemas/Capability"},"chargingPower":{"$ref":"#/components/schemas/Capability"}}},"Capability":{"required":["isSupported"],"type":"object","properties":{"isSupported":{"type":"boolean"}}},"ErrorResponse":{"required":["error"],"type":"object","properties":{"error":{"$ref":"#/components/schemas/Error"}}},"DetailedErrorResponse":{"required":["error"],"type":"object","properties":{"error":{"$ref":"#/components/schemas/DetailedError"}}},"Error":{"required":["code","message"],"type":"object","properties":{"code":{"type":"string","example":"ERROR_CODE"},"message":{"type":"string","example":"Error message."}}},"DetailedError":{"allOf":[{"$ref":"#/components/schemas/Error"}],"properties":{"details":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}},"example":{"code":"ERROR_CODE","message":"Error message.","details":[{"code":"DETAIL_ERROR_CODE","message":"Detail error message."}]}}},"securitySchemes":{"apiKeyHeader":{"type":"apiKey","name":"vcc-api-key","in":"header","description":"Your application’s VCC API Key."},"accessToken":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"The access token issued by Volvo ID identity system."}}},"security":[{"apiKeyHeader":[]},{"accessToken":[]}],"tags":[{"name":"Capabilities","description":"Capabilities of the vehicle."},{"name":"Energy State","description":"Energy state of the vehicle."}]}